html, body {
  overflow-x: hidden;
}

.portfolio-container {
    background-color: black;
    color: white;
    font-family: 'poppins', sans-serif;
    min-height: 100vh;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-weight: 600;
    font-size: 2.575rem;
    
  }

  .hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    left: 1.5rem;
  }
  
  .nav-link {
    color: white;
    transition: color 0.3s ease;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #a916e7; /* Tailwind purple-400 */
  }

  
  
  .hero-section {
    margin-top: 2rem;
    margin-bottom: 3rem;
    position: relative;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
  }
  
  .purple-wave-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    background-repeat: repeat-x;
    z-index: 0;
    opacity: 0.8;
  }

  

  
  .hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    padding: 0 1rem;
  }
  
  .hero-title {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .hero-subtitle {
    font-size: 2.25rem;
    margin-top: 0;
  }

  @media (max-width: 780px) {
    .hero-section {
      height: 500px;
    }
    .hero-title {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 0;
    }
    
    .hero-subtitle {
      font-size: 1.25rem;
      margin-top: 0;
    }
   }
  
  /* Experience Section */
  .experience-section {
    padding-bottom: 0;
  }
  
  .experience-role-header {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(2rem, 4vw, 3.25rem);
    font-weight: 700;
    margin: 0;
    margin-top: 1rem;
  }
  
  .section-title {
    text-align: left;
    font-size: clamp(2.5rem, 5vw, 3.875rem);
    font-weight: 700;
    margin: 0 0 0 0;
    padding: 0 2rem;
  }
  
  .experience-line-head {
    margin-left: 2rem;
    width: 50%;
    margin-right: auto;
  }
  
  .experience-wrapper {
    display: flex;
    flex-direction: row;
    margin: 3rem 2rem 0 2rem;
    gap: 2rem;
    transition: flex-direction 0.3s ease;
  }

  .experience-role {
    text-align: left;
    background: linear-gradient(135deg, #8A2BE2 0%, #9400D3 100%);
    width: 20%;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
  }
  
  @media (max-width: 1140px) {
    .experience-wrapper {
      flex-direction: column;
    }
  
    .experience-role {
      width: 100%;
      border-radius: 0.375rem 0.375rem 0 0;
    }
  
    .experience-details {
      border-radius: 0 0 0.375rem 0.375rem;
    }
  
    .experience-line-head,
    .experience-line {
      width: 80%;
    }
  
    .experience-list {
      max-width: 100%;
    }
  }
  
  
  
  .experience-title {
    font-weight: 600;
    font-size: clamp(1.5rem, 3vw, 2rem);
    padding: 0.5rem;
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .experience-details {
    flex: 1;
    background: linear-gradient(135deg, black 0%, rgb(32, 27, 27) 100%);
    padding-left: 2rem;
  }
  
  .experience-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .company-name {
    font-size: clamp(2rem, 4vw, 3.25rem);
    font-weight: 700;
    margin: 1rem 0 0 0;
  }
  
  .duration {
    font-size: clamp(1rem, 2vw, 1.25rem);
    margin-right: 1rem;
  }
  
  .position {
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: 600;
    margin: 0 0 1rem 0;
    text-align: left;
  }
  
  .experience-line {
    width: 50%;
    margin-right: 55%;
  }
  
  .experience-list {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    list-style-type: disc;
    padding-left: 1rem;
    text-align: left;
    max-width: 75%;
  }
  
  .experience-item {
    margin-bottom: 1rem;
  }

  
  /* Projects Section */
.purpleWave-img {
  height: 200px;
  max-width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}


  .projects-section {
    color: white;
    text-align: center;
    padding: 3rem 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: black;
    padding-top: 0;
    padding-bottom: 0;
  }

  .purple-wave-project {
    width: 100%;
    height: 100%;
    object-fit:cover;
    background-repeat: repeat-x;
    opacity: 0.8;
    align-self: left;
    
  }

  .project-wrapper .section-title {
    text-align: right;
    margin-right: 2rem;
  }

  .project-wrapper hr {
    margin-right: 2rem;
    width: 50%;
    margin-bottom: 3rem;
  }

  .project-wrapper {
    min-height: 200px;
    position: relative;
    z-index: 1;
    margin-top: 4rem;
    margin-right: 0rem;
    margin-left: 0rem;
    color: white;
  }

  .project {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    height: auto;
    margin-top: 1rem;
  }

  .project:nth-child(even) {
    flex-direction: row-reverse;
  }

  

  .project:nth-child(odd) .project-content {
    text-align: left;
    align-items: flex-start;
    background: linear-gradient(135deg, black 0%, rgb(32, 27, 27) 100%);
  }
  
  .project:nth-child(even) .project-content {
    text-align: right;
    align-items: flex-end;
    background: linear-gradient(135deg, #8A2BE2 0%, #9400D3 100%);
  }

  .project-image {
    filter: brightness(75%);
    width: 35%;
    height: auto;
    background-size: cover; /* Ensures the image covers the container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Avoids tiling */
  }

  .project-content {
    flex: 1;
    display: flex;
    padding-left: 2rem;
    padding-right:2rem;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 2rem;
  }

  .project h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align tags to the left */
    gap: 0.5rem; /* Optional: space between tags */
    margin-bottom: 1rem; /* Optional: space below tags */
    margin-top: 1rem; /* Optional: space above tags */
    padding-left: 1rem; /* Optional: to match with experience-list indent */
  }

  .tag {
    display: inline-block;
    background: #333;
    color: white;
    padding: 0.3rem 0.6rem;
    margin-right: 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .tag.pink { background-color: #ff4fcf; }
  .tag.green { background-color: #a4ff4f; color: #000; }
  .tag.orange { background-color: #ff8126; }
  .tag.cyan { background-color: #21f3eb; color: #000; }

  .description {
    margin-bottom: 1.5rem;
    line-height: 1.5;
    font-size: 1.2rem;
  }

  .btn {
    text-transform: uppercase;
    background: none;
    border: 2px solid white;
    padding: 0.6rem 1.2rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .btn:hover {
    background: white;
    color: #000926;
  }

  @media (max-width: 1480px) {
    .description {
      font-size: 1.1vw;
    }
  }

  @media (max-width: 780px) {



  .project {
    flex-direction: column !important;
    height: auto;
  }

  .project-image {
    width: 100%;
    height: 300px;
  }

  .project-content {
    padding: 1rem;
    text-align: left !important;
    align-items: flex-start !important;
  }

  .project h2 {
    font-size: 2.5rem;
  }

  .project-wrapper hr {
    margin: auto;
    width:100%;
    margin-top: 1rem;
  }

  .project-wrapper .section-title {
    text-align: center;
    margin-right: 2rem;
  }



  .description {
    font-size: .75rem;
  }

  .tags {
    justify-content: flex-start;
    padding-left: 0;
  }
}
  .about-section {
    margin-top: 4rem;
    padding: 0 2rem 4rem;
    background-image: url('skinnyWave.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }


  .about-section hr {
    margin-right: 50%;
    width: 50%;
    margin-bottom: 1rem;
  }

  .about {
    width: 40%;
    height: auto;
    background: linear-gradient(135deg, black 0%, rgb(32, 27, 27) 100%);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 5px solid; /* fallback */
    border-image: linear-gradient(to right, #8A2BE2, #9400D3);
    border-image-slice: 1;
    border-radius: 5;
  }

  .about-image-container {
    width: 25%; /* or use max-width or responsive units like vw */
    height: auto;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
  }
  
  .profile-image {
    width: 100%;
    height: auto; /* maintains aspect ratio */
    display: block; /* removes small space under image */
    object-fit: cover; /* optional: fills the container nicely */
  }

  .about-title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    margin-top: 1rem;
    text-align: center;
  }

  .about-description {
    font-size: 1rem;
    margin: 0;
    padding: 2rem;
    text-align: left;
  }

  @media (max-width: 1240px) {
    .about-section {
      padding: 0 1rem 2rem;
    }

    .about-image-container {
      width: 45%; /* or use max-width or responsive units like vw */
      height: auto;
      justify-content: center;
      margin-right: auto;
      margin-left: auto;
      margin-top: 1rem;
    }

    .about {
    width: 85%;
    height: auto;
    background: linear-gradient(135deg, black 0%, rgb(32, 27, 27) 100%);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 5px solid; /* fallback */
    border-image: linear-gradient(to right, #8A2BE2, #9400D3);
    border-image-slice: 1;
    border-radius: 5;
    }

    .profile-image {
      width: 100%;
      height: auto; /* maintains aspect ratio */
    display: block; /* removes small space under image */
    object-fit: cover; 
    }
    .about-title {
      font-size: 1.5rem;
    }
    .about-description {
      font-size: 0.75rem;
    }
  }

